*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(242,224,210,255);
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}
nav{
    padding: 2rem;
}
nav ul{
    height: auto;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav li a{
    color: rgba(208,96,76,255);
    display: inline-block;
    text-decoration: none;
    padding: 1rem 5rem 1rem 5rem;
    height: fit-content;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
}
section{
    display: flex;
}
article{
    flex: 1;
    margin: 1%;
}
footer{
    display: flex;
}
footer div{
    flex: 1;
}
section article{
    color: rgba(242,224,210,255);
    border-radius: 20px;
    background-color: rgba(208,96,76,255);
    padding: 2rem 5rem 2rem 5rem;
}
footer div img{
    width: 100px;
    margin-left: 2%;
}

.high{
    border-radius: 20px;
    background-color: rgba(208,96,76,255);
    padding: 2rem 5rem 2rem 5rem;
    margin-bottom: 1%;
}